.catalogs-wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 70px;
}
.catalog-goods {
    width: calc(20% - 25px);
    height: 72px;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #1e521a;
    align-items: center; 
    margin: 0 25px 25px 0;
}
.catalog-goods img {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 2px;
}
.catalog-goods p { 
    width: 56px;
} 

.catalogs-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    padding: 0 25px;
}